@import "../../../../styles/layout.module.scss";
@import "../../../../styles/common.module.scss";

.divVmInspectorWrapper {
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 20px;

    background-color: var(--vm-inspector-bkg-color);

    display: flex;
    flex-direction: column;
    gap: 20px;

    overflow-y: auto;
    @include thick-scroll-bar;

    font-family: sans-serif;
}

@mixin inspector-card {
    padding: 20px;
    border: 1px solid var(--vm-inspector-card-border-color);
    border-radius: 8px;
}

.divStepStateCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include inspector-card;
}

.divStepStateWrapper {
    display: flex;
    align-items: flex-start;
}

.lblStepStateLabel {
    font-size: 20px;
    color: var(--vm-inspector-step-state-label-color);
    white-space: nowrap;
    user-select: none;
}

.divStepCount {
    font-size: 20px;
    font-weight: bold;
    color: var(--vm-inspector-step-count-color);
}

.divStateBase {
    font-size: 20px;
    font-weight: bold;
}

.divStateInitial {
    @extend .divStateBase;
    color: var(--vm-inspector-state-initial-color);
}

.divStateBusy {
    @extend .divStateBase;
    color: var(--vm-inspector-state-busy-color);
}

.divStateWaitInput {
    @extend .divStateBase;
    color: var(--vm-inspector-state-wait-input-color);
}

.divStateFree {
    @extend .divStateBase;
    color: var(--vm-inspector-state-free-color);
}

.divStateStaticCheckFailed {
    @extend .divStateBase;
    color: var(--vm-inspector-state-static-check-failed-color);
}

.divStateRuntimeError {
    @extend .divStateBase;
    color: var(--vm-inspector-state-runtime-error-color);
}

.divStateMaxStepReached {
    @extend .divStateBase;
    color: var(--vm-inspector-state-max-step-reached-color);
}

.divStateExitedNormally {
    @extend .divStateBase;
    color: var(--vm-inspector-state-exited-normally-color);
}

.divStateExitedAbnormally {
    @extend .divStateBase;
    color: var(--vm-inspector-state-exited-abnormally-color);
}

.divOptionsCard {
    display: flex;
    justify-content: center;
    gap: 25px;
    @include inspector-card;
}

.divOptionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.lblOption {
    font-size: 14px;
    user-select: none;
}

.divMemoryUsageCard {
    display: flex;
    justify-content: center;
    gap: 20px;
    @include inspector-card;
    padding-bottom: 10px;
}

.divMemoryUsageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    font-size: 13px;

    label{
        user-select: none;
    }

    label[class="percentageUsage"] {
        font-weight: bold;
    }

    span {
        font-family: "Roboto Mono", monospace;
    }
}
