@import "../../../../styles/layout.module.scss";
@import "../../../../styles/common.module.scss";

.divVmConsoleWrapper {
    width: 100%;
    height: 100%;
    max-height: 100%;

    outline: none;

    background-color: var(--vm-console-bkg-color);

    display: flex;
    flex-direction: column;
}

.divVmConsole {
    width: 100%;
    height: calc(100% - $control-panel-height);
    max-height: calc(100% - $control-panel-height);

    font-size: 15px;
    line-height: 20px;

    display: flex;
    flex-direction: column;

    overflow-y: auto;

    @include thick-scroll-bar;
}

.divVmConsoleBoxShadow {
    box-shadow: var(--vm-console-inspector-box-shadow-color) 0 6px 6px -6px inset;
}
