.themeLight {
    --sidebar-bkg-color: rgb(44, 44, 44);
    --sidebar-icon-color: rgba(255, 255, 255, 0.5);
    --sidebar-icon-hover-color: rgba(255, 255, 255, 0.9);

    --tabbar-bkg-color: rgb(243, 243, 243);
    --tabbar-item-inactive-bkg-color: rgb(236, 236, 236);
    --tabbar-item-inactive-hover-bkg-color: rgb(245, 245, 245);
    --tabbar-item-active-bkg-color: rgb(255, 255, 255);
    --tabbar-item-icon-color: rgba(0, 0, 0, 0.5);
    --tabbar-item-text-color: rgb(0, 0, 0);
    --tabbar-item-close-color: rgba(0, 0, 0, 0.7);
    --tabbar-close-hover-bkg-color: rgba(0, 0, 0, 0.1);

    --vm-wrapper-bkg-color: #fff;
    --vm-empty-holder-color: rgba(0, 0, 0, 0.5);
    --vm-section-border-color: #e7e7e7;

    --ir-editor-bkg-color: #fff;
    --ir-line-number-color: #237893;
    --ir-color: #000;
    --ir-error-border-color: #ff0f0f;
    --ir-error-bkg-color: rgb(255, 164, 157);
    --ir-indication-border-color: #0e66ff;
    --ir-indication-bkg-color: #81afff;

    --vm-console-bkg-color: #fff;
    --vm-console-error-color: rgb(203, 36, 49);
    --vm-console-warning-color: rgb(227, 170, 25);
    --vm-console-success-color: rgb(28, 121, 49);
    --vm-console-normal-color: rgb(31, 31, 32);
    --vm-console-prompt-color: rgb(148, 154, 161);
    --vm-console-arrow-color: rgb(0, 120, 212);

    --control-panel-label-color: rgb(71, 75, 80);
    --control-panel-run-icon-color: rgb(123, 195, 121);
    --control-panel-step-icon-color: rgb(123, 195, 121);
    --control-panel-reset-icon-color: rgb(90, 136, 215);
    --control-panel-clear-icon-color: rgb(118, 121, 126);
    --control-panel-icon-hover-bkg-color: rgba(0, 0, 0, 0.05);
    --control-panel-icon-active-bkg-color: rgba(0, 0, 0, 0.09);
}
