.themeLight {
    --sidebar-bkg-color: rgb(44, 44, 44);
    --sidebar-icon-color: rgba(255, 255, 255, 0.5);
    --sidebar-icon-hover-color: rgba(255, 255, 255, 0.9);

    --tabbar-bkg-color: rgb(243, 243, 243);
    --tabbar-item-inactive-bkg-color: rgb(236, 236, 236);
    --tabbar-item-inactive-hover-bkg-color: rgb(245, 245, 245);
    --tabbar-item-active-bkg-color: rgb(255, 255, 255);
    --tabbar-item-icon-color: rgba(0, 0, 0, 0.5);
    --tabbar-item-text-color: rgb(0, 0, 0);
    --tabbar-item-close-color: rgba(0, 0, 0, 0.7);
    --tabbar-close-hover-bkg-color: rgba(0, 0, 0, 0.1);

    --vm-wrapper-bkg-color: #fff;
    --vm-empty-holder-color: rgba(0,0,0,0.5);
    --vm-section-border-color: #e7e7e7;

    --ir-line-number-color: #237893;
}
