.themeLight {
    --sidebar-bkg-color: rgb(44, 44, 44);
    --sidebar-icon-color: rgba(255, 255, 255, 0.5);
    --sidebar-icon-hover-color: rgba(255, 255, 255, 0.9);
    --tabbar-bkg-color:rgb(243, 243, 243);
}
