@import "../../../../styles/layout.module.scss";

.divSideBarWrapper {
    width: $sidebar-width;
    height: 100vh;

    background-color: var(--sidebar-bkg-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    user-select: none;
}

.divIconWrapperBase {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.divIconWrapperUpper {
    @extend .divIconWrapperBase;
    padding-top: 20px;
}

.divIconWrapperLower {
    @extend .divIconWrapperBase;
    padding-bottom: 20px;
}
