@keyframes empty-holder-in {
    from {
        filter: blur(5px);
        transform: scale(1.02);
    }

    to {
        filter: blur(0);
        transform: scale(1);
    }
}

.divEmptyHolder {
    width: 100%;
    height: 100%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;

    user-select: none;

    animation-duration: 1000ms;
    animation-name: empty-holder-in;
}

.imgLogo {
    width: min(95%, 900px);
    -webkit-user-drag: none;
}

.divEmptyHolderText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

    margin-bottom: 50px;
}

.spanDesc {
    font-weight: bold;
    font-size: 24px;
    color: var(--vm-empty-holder-desc-color);
}

.divEmptyHolderHintsWrapper {
    display: flex;
    flex-direction: column;

    gap: 8px;

    font-size: 15px;

    color: var(--vm-empty-holder-hint-color);

    > span {
        width: 100%;
    }

    > span[class="hint-title"] {
        text-align: center;
    }
}
