@keyframes scale-in {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

.divEmptyHolder {
    width: 100%;
    height: 100%;

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 27px;
    color: var(--vm-empty-holder-color);
}

.divEmptyHolderText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    animation-duration: 0.5s;
    animation-name: scale-in;
}
