@import "../../../../../styles/layout.module.scss";

.divLineHighlighterWrapper {
    width: 100%;
    height: $ir-editor-line-height;

    position: absolute;
    left: 0;
}

.divLineFrameBase {
    width: calc(100% - $line-number-min-width);
    margin-left: $line-number-min-width;
    height: 100%;
}

@mixin line-frame-border($color) {
    border-bottom: 1.5px dashed $color;
}

.divLineFrameError {
    @extend .divLineFrameBase;
    @include line-frame-border(var(--ir-error-border-color));
}
