.divInputBlockWrapper {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    display: flex;
}

.spanArrow {
    color: var(--vm-console-prompt-color);
}

.spanPrompt {
    color: var(--vm-console-prompt-color);
}

.in {
    width: 100%;
    height: 20px;
    padding: 0;
    border: 0;
    outline: 0;
}
