.divInputBlockWrapper {
    width: 100%;
    padding: 0 10px;
    font-size: 15px;
    line-height: 20px;
    display: flex;
}

.spanArrow {
    color: var(--vm-console-arrow-color);
}

.spanPrompt {
    white-space: nowrap;
    color: var(--vm-console-prompt-color);
}

.in {
    flex-grow: 1;
    // With flex-grow only the input stays too wide
    min-width: 80px;
    height: 20px;
    padding: 0;
    border: 0;
    outline: 0;
    color: var(--vm-console-normal-color);
    background-color: transparent;
}
